# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info/
*.eggs/
dist/
build/
*.egg

# Данные конфигурации
.env

# Логи
*.log

# IDE и редакторы
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Системные файлы
.DS_Store
Thumbs.db
